In [3]:
import pandas as pd
import numpy as np

s1 = pd.Series(np.random.rand(4))
s2 = pd.Series(np.random.rand(4))
s3 = pd.Series(np.random.rand(4))
s4 = pd.Series(np.random.rand(4))
df = pd.DataFrame([s1,s2,s3,s4])

          0         1         2         3
0  0.286661  0.079163  0.696520  0.909454
1  0.894140  0.261774  0.699683  0.656117
2  0.346577  0.010213  0.733759  0.741018
3  0.888053  0.307435  0.005401  0.372062

In [5]:
df.columns = ['Random value 1','Random value 2','Random value 3','Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.286661        0.079163        0.696520        0.909454
1        0.894140        0.261774        0.699683        0.656117
2        0.346577        0.010213        0.733759        0.741018
3        0.888053        0.307435        0.005401        0.372062

In [6]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.603858        0.164646        0.533841        0.669663
std          0.332585        0.142571        0.352696        0.224604
min          0.286661        0.010213        0.005401        0.372062
25%          0.331598        0.061926        0.523740        0.585103
50%          0.617315        0.170469        0.698102        0.698568
75%          0.889575        0.273189        0.708202        0.783127
max          0.894140        0.307435        0.733759        0.909454

In [7]:
df.isnull().any

<bound method NDFrame._add_numeric_operations.<locals>.any of    Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False>

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [12]:
df.loc[0:3,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.079163        0.696520
1        0.261774        0.699683
2        0.010213        0.733759
3        0.307435        0.005401

In [15]:
df.iloc[0:3,1:3]

   Random value 2  Random value 3
0        0.079163        0.696520
1        0.261774        0.699683
2        0.010213        0.733759